@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* coverwite code */
/* .bg-dark {
    background-color: #8a0303 !important;
} */
.navbar__container {
    background-color: #212529 !important;
    border-bottom: 4px solid #8a0303;
    box-shadow: 1px 10px 42px -9px rgba(0, 0, 0, 0.72);
        -webkit-box-shadow: 1px 10px 42px -9px rgba(0, 0, 0, 0.72);
        -moz-box-shadow: 1px 10px 42px -9px rgba(0, 0, 0, 0.72);
}
.navbar-brand {
    color: #970a0a !important;
    font-weight: bold;
}
.card{
    border: none !important;
    display: flex !important;
    align-items: center !important;
}
.card>img{
    width: 350px !important;
    border-radius:50%;
    border: 10px solid #970a0a;
    box-shadow: 1px 4px 42px -9px #970a0a;
}
.card-title{
    color: #940303 !important;
    font-weight: bold;
}
.nav-link{
    color: #970a0a !important;
    font-weight: bold;
}
.error {
    color: rgb(211, 0, 0);
    margin-top: -4px;
}

.body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/images/red-blood-cells.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    margin: 0 auto;
    position: relative;
    max-width: 430px;
    width: 100%;
    background: rgba(0, 0, 0, 0.35);
    padding: 34px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.wrapper .h2 {
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.wrapper .h2::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 28px;
    border-radius: 12px;
    background: #d9330d;
}

.wrapper .form {
    margin-top: -25px;
}

.wrapper .form .input__box {
    height: 45px;
    margin: 20px 0;
}

form .input__box .input {
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    color: #000;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.3s ease;
    background: aliceblue;
        border: none;
}

.input__box .input:focus,
.input__box .input:valid {
    border-color: #ff0000;
}

.form .policy {
    display: flex;
    align-items: center;
    justify-content:left;
}
.form .policy>h3{
    margin: 0px 0px 0px 10px;
    padding: 0;
}
.form .h3 {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
}

.input__box.button .input {
    color: #fff;
    letter-spacing: 1px;
    border: none;
    background: #d21c13;
    cursor: pointer;
}

.input__box.button .input:hover {
    background: #ca692d;
}

.form .text .h3 {
    color: #fff;
    width: 100%;
    text-align: center;
}

.form .text .h3 .a {
    color: #f45e40;
    text-decoration: none;
}

.form .text .h3 .a:hover {
    text-decoration: underline;
}

.select {
    height: 45px;
    width: 100%;
    background: aliceblue;
    border-radius: 5px;
    font-weight: 500;
    font-size: 17px;
    font-weight: 100;
    padding: 0px 10px;
}

.select .option {
    color: #000;
    font-weight: 500;
    font-size: 17px;
}
.select:focus-visible,
.select:focus,
.select .option:valid {
    border:none;
    outline: none;
}

/* login */



/* donor__container */
 .donor__container {
     min-width: 780px;
 }
@media only screen and (max-width: 400px) {

}


.wrapper {
    width: 100%;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    box-shadow: 7px 7px 40px rgba(243, 9, 9, 0.30);
}

.wrapper .title {
    line-height: 50px;
    background: rgb(227, 6, 6);
    color: #fff;
    /* padding-left: 20px; */
    border-radius: 5px 5px 0 0;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
}

.form {
    padding: 52px 0px;
}

.input_row {
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}

.row__input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(99, 90, 90);
    font-size: 16px;
    transition: all 0.3s ease;
    padding: 10px;
}

.row__input:focus {
    border-color: #ff0000;
    box-shadow: inset 0px 0px 2px 2px rgba(243, 9, 9, 0.30);
}

.row__icon {
    position: absolute;
    width: 47px;
    height: 100%;
    background: rgb(161, 12, 12);
    border: 1px solid #ff0000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 5px 0 0 5px;
}

.showHidePw {
    position: absolute;
    top: 10px;
    right: 5px;
}

.button .row__input {
    padding-left: 0px;
    background: red;
    color: #fff;
    cursor: pointer;
    border: 1px solid red;
    font-weight: 500;
    font-size: 20spx;
}

.button .row__input:hover {
    background: #af1515;
}

.pass {
    margin: -8px 0 20px 0;
}

.pass .a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    padding: 0px 5px;
}

.pass .a:hover {
    text-decoration: underline;
}

.signup {
    margin-top: 20px;
    color: #fff;
    padding:10px;
}

.signup .a {
   
    text-decoration: none;
    font-size: 17px;
}

.signup .a:hover {
    text-decoration: underline;
}

/* donor__wrapper */
@media screen and (max-width: 788px) {
    .donor__wrapper {
            width: 100%;
            overflow: scroll;
        }
        .search__container>div{
            margin-bottom: 10px;
        }
}
